<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BdoToTroniTag.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BdoToTroniTag.Properties.Settings>
            <setting name="BDOUrl" serializeAs="String">
                <value>http://dbsrv:8081/balance/hs/Exchange</value>
            </setting>
            <setting name="BDOUser" serializeAs="String">
                <value>WebSU</value>
            </setting>
            <setting name="BDOPass" serializeAs="String">
                <value>WebSU123456?</value>
            </setting>
            <setting name="OutputFTPUrl" serializeAs="String">
                <value>ftp://192.168.10.10</value>
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value>tronitag</value>
            </setting>
            <setting name="FTPPass" serializeAs="String">
                <value>tronitag</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>Import</value>
            </setting>
            <setting name="BDOGroupFilter" serializeAs="String">
                <value>30615003-b242-11e7-841e-e0071b8a1d4f</value>
            </setting>
            <setting name="HEADER" serializeAs="String">
                <value>barcode,name,description,price,unit,promotion,sizeunit,oldprice</value>
            </setting>
            <setting name="PriceDevider" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DirectFilePath" serializeAs="String">
                <value>\\main\Import</value>
            </setting>
        </BdoToTroniTag.Properties.Settings>
    </userSettings>
</configuration>